.validation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 45%;
    line-height: 40px;
    z-index: 3;
}
.validation button{
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
    background: #FF5EDF;
    transition: all .5s;
    border: none;
    color: white;
    letter-spacing: 1px;
}
.validation button:hover{
    background: #04c8de;
}
.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.validation > div{
    padding: 30px;
}
.title{
    background: linear-gradient(89deg, #04c8de 0%, #FF5EDF 100%);
    padding: 30px;
}
@media screen and (max-width: 772px){
    .validation{
        width: 60%;
    }
}