@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
.background{
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}